@font-face {
  font-family: "Product Sans Regular";
  src: url("Font/Product Sans Regular.ttf");
}

body {margin:0;font-family:Product Sans Regular}



.topnav {
  overflow: hidden;
  background-color: black;
  height: 60px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 60px;
}

.img {
    float: right;
}

.test2{
  float: right;
  padding: 0px 16px;
  position: relative;
  left: 16px;
  }

.active {
  background-color: #00793d;
  color: black;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 20px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 19px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    box-sizing: border-box;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #00c743;
  color: black;
  transition: 1.1s;
  -webkit-transition: .6s;
  -moz-transition:1.1s;


}


.dropdown-content a:hover {
    background-color: #ddd;
    color: black;

}

.dropdown:hover .dropdown-content {
    display: block;

}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.test{
  position: relative;
 left: -75px;
}

.p1{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 40px;
  top: 90px;
}


.p2{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 790px;
  top: 90px;
}

.p3{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 40px;
  top: 671px;
}


.p4{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 790px;
  top: 671px;
}


.p5{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 40px;
  top: 1252px;
}


.p6{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 790px;
  top: 1252px;
}

.p7{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 40px;
  top: 1833px;
}


.p8{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 790px;
  top: 1833px;
}

.p9{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 40px;
  top: 2414px;
}


.p10{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 790px;
  top: 2414px;
}
.p11{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 40px;
  top: 2995px;
}


.p12{
position: absolute;
  height:200px;
  width:500px;
  margin-bottom:-190px;
  left: 790px;
  top: 2995px;
}



p{
    font-size: 18px;
}

.hd1{
  position: relative;
  font-size: 44px;
  top: -1px;
  margin-bottom:-93px;
  text-align: center;
}


.c1 {   
        position: relative;
        left: 99px; 
        display: inline-block;
        text-align: center;
}

.c2 {   
        position: absolute;
        left: 350px; 
        display: inline-block;
        text-align: center;
}

.c3 {   
        position: absolute;
        left: 601px; 
        display: inline-block;
        text-align: center;
}

.c4 {   
        position: absolute;
        left: 852px; 
        display: inline-block;
        text-align: center;
}

.c5 {   
        position: absolute;
        left: 1103px; 
        display: inline-block;
        text-align: center;
}


/*Footer*/


.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #0e4a10;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 38px 0px 5px 0px;
  color: #bed4bf;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.270em;

}

.footer .col h2 {
  margin: 0;
  padding: 0;
  width: 180px;
  font-family: inherit;
  font-size: 18px;
  line-height: q17px;
  padding: 21px 0px 5px 0px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.270em;
  word-spacing: 1px;
  text-align: center;

}
.footer .col img {

   width:180px;
   margin: 0;
  padding: 0;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #000500;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: white;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}


.container {

    margin: 0 auto;
    height: 350px;
    position: relative;
    padding-top: 100px;
}

.parallax-wrapper {
    position: relative;
}

.parallax-container {
    height: 400px;
    background-color: #d9e9d9;  /*c7dfc7;*/
    width: 99.999vw;
    margin-left: calc(-50vw + 50% - 8px);
    position: relative;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}



.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: black;
    color: white;
}